* {
    color: #ffffff;
}

.about-container {
    background: url('https://pro2-bar-s3-cdn-cf.myportfolio.com/03fb13c64084a4ecb1180901ecedad0d/1bfabb05-c1fd-41f5-9270-dd37d1a4d6a8_rw_600.gif?h=0e09ebd0aa37458161d10db9805ea353') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
}